body {
    background: url("https://images.hdqwalls.com/wallpapers/space-trip-4k-h2.jpg");
    background-attachment: fixed;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; 
    margin: 0; 
  }